@charset "UTF-8";

/* 全体処理 */

html {
    font-size: 100%;
}

/* ヘッダーフォント */

.heder_font {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

/* 日本語フォント */

.japanese {
    font-family: "M PLUS 1", serif;
    font-optical-sizing: auto;
}

/* 英語フォント */

.english {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}


/* ボディ */

body {
    /* 背景色 */    
    background-color: whitesmoke;
}



/* ヘッダー */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 上下サイズ */
    height: 85px;
    /* 背景色 */
    background: linear-gradient(to right, #212d5d, #9fb3ff);
    /*優先度*/
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ロゴサイズ　変更不要 */

.logo img {
    height: 75px;
    cursor: pointer;
}

/* ハンバーガーメニュー　変更不要 */
.menu-icon img {
        cursor: pointer;
        height: 86%;
        margin : auto;
        position: absolute;
        right: 15px;
        transform: translateY(-50%);
        z-index: 1000;
}



/* ヘッダーinfo */
nav {
    display: flex;
    align-items: center;
    margin-right: 6%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 120%;
    padding-bottom: 3px; /* テキストと下線の間隔 */
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-position: bottom right; /* 下線の初期位置 */
    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
    transition: background-size 0.3s;
}

nav a:hover {
    background-position: bottom left; /* 下線のホバー時位置 */
    background-size: 100% 1px; /* 下線の横幅を100%にする */
  }
/* /header */

/* -------------------HM内容-------------------------- */

.right-box {
    position: fixed;
    top: 0;
    /* 右に隠す widthと同じ数値*/
    right: -20%;
     /*横幅  */
    width: 16%;
    height: 100%;
    background: linear-gradient(to bottom, #5a6fa6, #212d5d);
    z-index: 999;
    /* スライドイン効果 */
    transition: right 0.3s ease; 
    display: flex;
}


.right-box.active {
    right: 0; /* メニューが押されたときに表示 */
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-html {
    width: 100%;
    margin-top: 100%;
    justify-items: center;
  }

  .sub-html a{
    display: block;
    color: white;
    font-size: 200%;
    text-decoration: none;
    margin-top: 10%;
    text-align: left;
  }

  .sub-html a:hover {
    text-decoration: none;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .right-box {
    right: 0; /* メニューが押されたときに表示 */
}

/* アイコン切り替え */
.menu-icon i {
    cursor: pointer;
}

/* オーバーレイのスタイル */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.overlay.visible {
    display: block;
}

/* -------------/ハンバーガーメニュー--------------- */

/* h1 */

h1 {
    /* 文字を中心へ */
    text-align: center;
     /* テキストカラー 変更不要*/
    color: #212d5d;
    /* テキストの太さ 変更不要*/
    font-weight: 400;
    /* 斜体にしない */
    font-style: normal;
    /* 上から何px下げるか */
    margin-top: 95px;
    /* フォントサイズ　変更不要 */
    font-size: 50px;
    /*文字周りの余白*/
    padding: 0.5em;
    /*テキストの背景色　変更不要*/
    background: #d6e0ff;
    /* ボーダーライン作成　変更不要 */
    border-left: solid 5px #212d5d;
  }
  
  /* h2 */

 h2{
    color: #212d5d;
} 

.flight_number {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #212d5d;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    background-color: white;
}


/* フッター */
footer {
    background-color: white;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #212d5d;
    margin-top: 25px;
}