@charset "UTF-8";

html {
    font-size: 100%;
}

.japanese {
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: italic;
}

.english {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}


body {
    background-color: white;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, #212D5D, #1F2A50, #1B2542);
  padding: 0 180px;
  z-index: 1001;
}

  .logo img {
    height: 55px;
    cursor: pointer;
  }

.hm img {
    margin-right: 100px;
    height: 75px;
    cursor: pointer;
}

.right-items {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    align-items: center;
  }

  .right-items  a {
    position: relative;
    margin: 0 15px;
    color: white;
    display: inline-block;
    text-decoration: none;
  }
  
  .right-items a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }

  .right-items a:hover {
    color: white;
  }
  .right-items a:hover::after {
    transform: scale(1, 1);
    
  }


/* -------------/ハンバーガーメニュー--------------- */

.outer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .legal-container {
    width: 96%;
    margin: 120px auto 0 auto;
  }
  
.legal-container .english {
    text-align: left;
    font-style: bold;
    font-size: 30px;
}

h1 {
    display: inline-block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    border: 2px solid #2f4f4f;
    border-radius: 6px;
    font-size: 28px;
    font-weight: bold;
    color: #2f4f4f;
}

blockquote,
blockquote p {
  font-style: normal !important;
}


h2 {
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #2f4f4f;
    border-bottom: 3px solid #2f4f4f;
}

p {
    margin: 15px 0;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: #000000;
}

ul {
    margin: 15px 0 30px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

.legal-container a {
    color: #2f4f4f;
    text-decoration: none;
    border-bottom: 1px dotted #2f4f4f;
    display: inline-block;
}

.legal-container a:hover {
    color: #1E88A8;
    border-bottom: 1px solid #1E88A8;
}

.date {
    display: block;
    text-align: right;
    margin-top: 30px;
    font-size: 14px;
    color: black;
}

.blockquote-container {
    margin-top: 30px;
}

blockquote {
    position: relative;
    padding: 15px 20px;
    background-color: rgb(248, 248, 248);
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 30px;
    border-left: 5px solid #1E88A8;
}

blockquote:before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    border-left: 5px solid #1E88A8;
    background: #f4f4f4;
    z-index: -1;
}

blockquote p {
    margin: 0;
    font-style: italic;
}



footer {
    background: #fff;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #2f4f4f;
    margin-top: 25px;
  }
  
  footer p {
    color: #000;
    font-size: 20px;
    font-style: normal;
  }
  
  .foot-container {
    margin-top: 45px;
  }
  
  .foot-container a {
    position: relative;
    margin: 0 15px;
    color: black;
    display: inline-block;
    text-decoration: none;
  }
  
  .foot-container a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #1E88A8;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }

  .foot-container a:hover {
    color: #1E88A8;
  }
  .foot-container a:hover::after {
    transform: scale(1, 1);
    
  }

  .virtual-container {
    width: 100%;
    height: 20px;
  }

  .virtual-container p {
    text-align: center;
    font-size: 10px;
    color: #6d6d6d;
  }